body{
    background-color: #000000;

}

main{
    margin-left:60px ;
}


a {
    text-decoration: none;
  }


#header{
    color: aliceblue;
    text-align: center;
}
#title{
    color: aliceblue;
}
#Description{
    margin-top: -15px;
    color: rgb(155, 195, 227);
}

#tools-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Tools{
    border: 1px;
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(145, 218, 235);
    border-color:rgb(14, 73, 100);
    background-color:#060e11;
    border-radius: 20px;
    max-width: 270px;
    text-align: left;
    margin: 10px;
}
#links{
    color: aliceblue;
} 

#icons{
height: 40px;
margin-left: 109px;
border-radius: 100px;
}

#IconsNavbar{
margin-left: 20px;
margin-top: 20px;
height: 30px;
transform:translateX(135px);
border-radius: 4px;
}

#iconsonbar{
    transform: translateY(-12px);
    margin-bottom: 7px;

}

#Textonbar a{
    margin-bottom: 5px;
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    transform: translateY(-5px);
  
}

#Textonbar:hover {
  background-color: #0d2735;
  color: rgb(163, 253, 245);
}

footer {
    background-color: #0d2735;
    padding-top: 50px;
}

.footer-container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.fbox{
    width: 33.3%;
}

h4{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.fbox ul{
    text-align: center;
}

.list{
    padding: 0;
}

.list li{
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #000000;
    transition-duration: .5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i{
    color: #ffffff;
    font-size: 25px;
}

a{
    text-decoration: none;
}

a:hover{
    color: #060e11;
}

.social-icons i:hover{
    color: #060e11;
}

.footer-bottom{
    background: #000000;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-bottom p{
    color: #ffffff;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}